{% include base_path %}

{% if include.id %}
  {% assign gallery = page[include.id] %}
{% else %}
  {% assign gallery = page.gallery %}
{% endif %}

{% if gallery and gallery.size == 2 %}
  {% assign gallery_layout = 'half' %}
{% elsif gallery and gallery.size >= 3 %}
  {% assign gallery_layout = 'third' %}
{% else %}
  {% assign gallery_layout = '' %}
{% endif %}

<figure class="{{ gallery_layout }} {{ include.class }}">
  {% for img in gallery %}
    {% if img.url %}
      <a href="{{ img.url }}" {% if img.title %}title="{{ img.title }}"{% endif %}>
        <img src="{{ img.image_path }}" alt="{{ img.alt }}">
      </a>
    {% else %}
      <img src="{{ img.image_path }}" alt="{{ img.alt }}">
    {% endif %}
  {% endfor %}
  {% if include.caption %}
    <figcaption>{{ include.caption | markdownify | remove: "<p>" | remove: "</p>" }}</figcaption>
  {% endif %}
</figure>

